@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";

@import "pages/home";


$color-primary:#f1c40f;
$color-dark-yellow:#e2b70d;
$color-white:#fff;
$color-black:#000;
$color-grey:#333;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $color-white;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 1rem;
}

.header {
  background-image: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.8)),
    url(../img/hero-image.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
  width: 100%;

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4.5rem;
  }
  
  &__logo {
    height: 4.5rem;
  }
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;


  &--main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
  }
}

.search-form {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;

  &__control{    
      display: inline-block;
      margin: 2rem 1rem;

      input[type="text"] {
        padding: 1rem;
        border-radius: 0.5rem;
        outline: none;
        color: $color-grey;
        border: 0.1rem solid $color-primary;
        font-size: 2rem;
      }

        .btn {
          padding: 1rem;
          border-radius: 0.5rem;
          outline: none;
          color: $color-white;
          width: 20rem;
          background: $color-primary;
          border: 0.1rem $color-primary solid;
          font-weight: 300;
          font-size: 2rem;
          transition: background-color 0.2s, color 0.2s;
    
          &:hover {
            cursor: pointer;
            color: rgb(235, 231, 231);
            background-color: $color-dark-yellow;
          }
    
        &--arrow {
          transition: transform 0.2s;

          &:hover {
            transform: scaleX(1.5);
          }
        } 
      }
    }
  }
    
  


 

 





