@mixin clearfix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }    
}


//1em = 16px

@mixin respond($breakpoint) {
    
    @if $breakpoint == firstbreakpoint{
        @media (max-width: 37.5em) {
            @content
        };
    }

    @if $breakpoint == secondbreakpoint{
        @media (max-width: 56.25em) {
            @content
        };
    }

}