// COLORS
$color-primary:#f1c40f;
$color-dark-yellow:#e2b70d;
$color-white:#fff;
$color-black:#000;
$color-grey:#333;
$color-grey-light:#ccc;
$color-black-light:#f1f3f6;
$footer-background:#2b2b2b;

$grid-width:70%;
$default-font-size:1.6rem;
$horizontal-gutter:5rem;