*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // overflow: hidden;
}

html {
  font-size: 62.5%;  //1rem = 10px 

  @include respond(firstbreakpoint){
    font-size: 40%;
  }


  // @include respond(tablet-landscape){
  //   font-size: 66.25%;
  // }
  // @include respond(tablet-portrait){
  //   font-size: 60%;
  // }
  // @include respond(desktop){
  //   font-size: 85%;
  // }


}

body {  
  box-sizing: border-box;
  padding: 1rem;   

}